 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* navbar styling start */

.navbar{
    background-color: #ecf0f1;
}
.navbar .logo{
    font-weight: 700;
    font-size: 1.8rem;
}
.nav-link{
    color: black;
    font-weight: 600;
}
.nav-link:hover{
    background-color:#0d6efd;
    color: white;
}
.navbar .btn-outline-primary{
    color: #02090a;
    font-weight: 600;
}
.navbar .btn-outline-primary:hover{
    color: #ecf0f1;
}
/* navbar styling end */
 
/* carousel styling starts */
.carousel-item img{
    width: 100%;
    height: 100vh;
}
/* carousel styling ends */

/* about section start */
.about{
    background-color: rgb(240, 238, 238);
}
.about h1{
    font-family: "Caveat", cursive;
}
/* about section End */

/* project section start */
.pg-hover .p-hover .card{
    border-radius: 20px;
    color: black;

}

.pg-hover .p-hover img{
border-radius: 15px;
}


.pg-hover .p-hover:hover{
transform: scale(1.1);
border-radius: 1rem;
overflow: hidden;
box-shadow: 0 0 5px rgb(55, 1, 250), 0 0 25px rgb(0, 38, 255);
animation: slideTop 1s ease forwards;
transition: 1s;

}
.img-radious a img{
    border-radius: 50%;
}

/* project section end */

/* footer section start */
footer{
    background-color: #02090a;
}
/* footer section ends */

footer div a i {
    border: 2px solid white;
    border-radius: 50%;
}
footer div a i:hover {
   
   background-color: #0d6efd;
    color: white;
}

.brd a i{
    border: 5px solid black;
    border-radius: 50%;
    color: #0d6efd;
    background-color: black;
    animation: moveCircle 2s ease-in-out infinite alternate   
}
@keyframes moveCircle {
    0% {
      transform: translateY(1);
    }
    100% {
      transform: translateY(100px);
    }
  }
.brd a i:hover{
    background-color: #0d6efd;
    color: #ffff;
}
@media (max-width: 768px) {
    .brd a i{
      animation: none; /* Stop animation on smaller screens */
    }
  }
  #round img{
    border-radius: 50%;
  }


